:root {
  --primary-color: #4169E1;
  --secondary-color: white;
  --tertiary-color: #EFF4F9;
  --quaternary-color: black;

  --success-color: #75BA24;
  --warning-color: #F0E68C;
  --error-color: #B22222;
}

* {
  font-family: 'Segoe UI';
  color: var(--quaternary-color)
  /*font-weight: bold;*/
  /* font-family: 'Consolas';*/
}

/*@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}*/
